h2 {
    text-align: center;
    margin: 10px;
    color: #ffffff;
}

.eti1 {
    text-align: center;
    color: #ffffff;
    padding-top: 35px;
    margin: 0px;
}
.contenedor-padre {
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: auto;
    border-radius: 50px;
    
}
.head{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
padding-bottom: 20px;
}

.contenedor-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: auto;
    gap: 10px;
    align-items: center;
}


.contenedor-hijo {
    background-color: #3d3878;
    border-radius: 50px;
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 65%, rgba(2,0,36,1) 100%);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    color:3px solid white;
    
}

.div-img {
    height: 200px;
    border-radius: 600px;
    width: 200px;
    display: grid;
    background-size: cover;
}
a {
    color: #deeaed;
    font-size: 20px;
    text-decoration: none;
}
@media(max-width:600px){
    .contenedor-proyectos{
    grid-template-columns:1fr;
}}
@media (min-width:601px) and (max-width:900px){
    .contenedor-proyectos{
    grid-template-columns:1fr 1fr;
}}
