.contenedor-padre {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr;
}
.cabeza {
  background-color: #363941;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.titulo {
  background-color: white;
}
.contenedor-primer-espacio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.espacio-1 {
  background-color: #ffffff;
  text-align: left;
}
.espacio1 {
  background-color: #ffffff;
  text-align: left;
  width: 100%;
}
.contenedor-segundo-espacio {
  background-color: #ff411d;
}
.espacio2 {
  text-align: center;
  font-size: 20px;
}
.contenedor-tercer-espacio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  gap: 30px;
  align-items: center;
}
.espacio-3 {
  border: solid 1px rgb(105, 103, 107);
  margin-top: 0px;
  align-items: center;
}
.eti1 {
  color: white;
  text-align: left;
  margin-left: 20%;
}
.eti2 {
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-left: 30%;
}
.eti3 {
  margin-top: 10%;
  margin-bottom: 0px;
  color: #ff411d;
  font-size: 80px;
}
.eti4 {
  text-align: center;
  font-size: 30px;
}
.eti9 {
  text-align: center;
  margin: 0px;
  font-size: 80px;
}
.etip {
  text-align: center;
}
.boton-0 {
  border-radius: 10px;
  background-color: #ff411d;
  border-color: #ff411d;
  width: 150px;
  height: 55px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}
.boton-1 {
  background-color: #ff411d;
  border-color: #ff411d;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin-left: 60px;
}
.img1 {
  margin-left: 200px;
}
.img2 {
  border-radius: 50%;
  margin-left: 45%;
  margin-top: 10px;
}
.img3 {
  background-position: center;
}
.p1 {
  text-align: left;
  font-size: 20px;
  margin-right: 250px;
}
.p2 {
  text-align: center;
  font-size: 30px;
}
.p {
  text-align: center;
}
.footer{
  align-items: center;
}