@media (min-width:1336px) and (max-width:1435px) {
    header {
        width: 80%;
        flex-direction: column;
        padding: 10px 0 20px 0;
    }

    .opciones {
        display: flex;
        justify-content: space-around;
        padding: 10px 0 0 0;
        gap: 50px;
    }

    .contenedor-central-parte-2 {
        padding: 0px 10px 0px 10px;
    }

    .seccion-herramientas {
        gap: 10px;
    }

    .seccion-precios {
        gap: 10px;
    }

    .botones {
        gap: 10px;
    }
}

@media (max-width:1336px) {
    header {
        flex-direction: column;
        padding: 10px 10px 20px 10px;
    }


    .opciones {
        display: flex;
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        gap: 50px;
    }

    .buscador-general {
        padding-left: 0px;
        justify-content: center;
    }

    .seccion-herramientas {

        gap: 40px;
        justify-content: space-between;
    }

    .seccion-precios {
        justify-content: space-between;
        gap: 40px;
    }

    .botones {
        padding: 40px 0 40px 0;
    }

    .img-herramienta-especial {
        width: 250px;
    }

    .img-herramienta-1 {
        width: 250px;
    }

    .precios {
        width: 250px;
    }

    .botones-centrales {
        width: 250px;
    }
}

@media (max-width:1135px) {

    header {
        height: 100%;
        width: 60%;
    }

    .opciones {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;

    }

    .contenedor-central {
        grid-template-columns: 1fr;
    }

    .contenedor-central-parte-1 {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }

    .contenedor-barra {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 85%;
        margin-left: 0px;
    }

    .eti-filtro {
        padding-left: 0px;
        padding-top: 40px;
    }

    .eti-precio {
        padding-left: 0px;
    }

    .eti-categorias {
        padding-left: 0px;

    }

    .eti-precio-productos {
        padding-left: 0px;
    }

    .linea {
        border: none;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .seccion-herramientas {
        gap: 40px;
        justify-content: center;
    }

    .contenedor-filtro-categorias {
        display: flex;
        gap: 100px;
    }
}

@media (max-width:830px) {

    header {
        width: 80%;
    }

    .opciones {
        gap: 10px;
    }

    .contenedor-central-parte-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .seccion-filtro {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .contenedor-herramientas {
        grid-template-columns: 1fr 1fr;
    }

    .cotenedor-productos {
        grid-column: 1/3;
    }

    .seccion-productos {
        display: grid;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .seccion-categorias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .linea-categorias {
        width: 100%;
    }

    .boton-precio {
        gap: 20px;
    }

    .boton1 {
        width: 100%;
    }

    .botones {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contenedor-filtro-categorias {
        gap: 150px;
    }

    .linea-categorias {
        margin-left: 0;
    }

    .productos {
        display: initial;
    }

    .footer {
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }

}


@media (max-width:570px) {
    header {
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
        width: 70%;
        flex-wrap: wrap;
        position: relative;
    }
    .opciones {
        display: none;
    }

    .contenedor-boton-hamburguesa {
        display: flex;
    }

    .boton-hamburguesa {
        display: none;
    }

    .menu-hambuerguesa {
        display: flex;
    }

    .boton-hamburguesa:checked+.lista {
        display: grid;
        gap: 10px;
    }

    .lista {
        width: 100%;
        background-color: white;
    }

    .contenedor-central-parte-1 {
        display: flex;
        flex-direction: column;
    }

    .contenedor-filtro-categorias {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .seccion-filtro {
        text-align: center;
        align-items: center;
    }

    .seccion-categorias {
        align-items: center;
    }

    .boton1 {
        margin-left: 30px;
    }

    .contenedor-categorias {
        align-items: center;
    }

    .seccion-productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .secion-productos,
    .linea-categorias {
        width: 60%;
    }

    .linea-categorias {
        width: 100%;
    }

    .linea-productos {
        width: 40%;
    }
    
    .contenedor-herramientas {
        grid-template-columns: 1fr;
    }

    .botones {
        justify-content: center;
    }

    .botones-centrales {
        text-align: center;
    }

    .title {
        font-size: 20px;
    }
    .contenedor-barra{
        width: 50%;
    }
    .central-parte-1{
    flex-direction: column;
    gap: 20px;
    }
    .contenedor-central-parte-2{
    padding: 0px;
    }
    .footer-parte-1{
        padding:10px;
    }
    .footer{
        justify-content: center;
    }
}
