* {
    font-size: 20px;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}


header,
h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

.img-1 {
    height: 200px;
}

.contenedor-card {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.contenedor-card .esa {
    align-items: center;
}

.card {
    text-align: center;
    align-items: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);

}

.pok :hover {
    scale: 1.1;
    transition: all 2s;
}

.textos {
    margin: 10px 0 5px 0;
}

.card-estadisticas {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}

.card-datos {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.boton {
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    border: none;
}

.img-pokemon {
    width: 400px;
    height: 400px;
}

.tipo {
    display: flex;
}

#contenedor-linea {
    height: 25px;
    border: 2px solid #000000;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

#linea {
    border-radius: 20px 0 0 20px;
    height: 25px;
}

#estadistica {
    margin: 20px 0 0 20px;
}


@media (max-width:1364px) {
    .contenedor-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-estadisticas {
        width: 70%;
    }

    .esta {
        display: flex;
        justify-content: center;

    }

    .card-datos {
        width: 80%;
    }

    .esa {
        align-items: center;
        grid-column: 1/3;

    }

}

@media (max-width:1000px) {
    .contenedor-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-datos {
        width: 80%;
    }

    .contenedor-card .card:nth-child(1) {
        order: 2;
    }

    .contenedor-card .esa:nth-child(3) {
        order: 2;
    }

    .esta {
        display: contents;
    }

    .card {
        width: 80%;
    }

    .img-1 {
        height: 150px;

    }

    .img-titulo {
        height: 180px;
    }
}

@media(max-width:800px) {
    .img-1 {
        height: 100px;

    }

    .img-titulo {
        height: 100px;
    }

    .card {
        width: 60%;

    }

    .img-pokemon {
        width: 350px;
        height: 350px;
    }

}

@media(max-width:800px) {
    .img-1 {
        height: 150px;

    }

    .img-titulo {
        height: 150px;
    }

    .card {
        width: 60%;

    }

    .card-datos {
        width: 80%;
    }

    .img-pokemon {
        width: 250px;
        height: 250px;
    }

}

@media(max-width:500px) {
    .img-titulo {
        height: 120px;
    }

    .textos {
        font-size: 18px;
    }

    .card-estadisticas {
        width: 90%;
    }

    .card-datos {
        width: 90%;
    }

    h2 {
        font-size: 20px;
    }
}
